<ion-view view-title="About MandiGate">
  <ion-content class="ionic-content-bg">
    <div class="mandi">
      <h3 class="western">ABOUT US</h3>
      <hr>
      <p class="m-main">Founded in 2016, Mandigate Pvt. Ltd. online web portal & mobile App based marketplace working to strengthen Grains, fruits and vegetables trade by offering producers, wholesalers and retailers with integrated & efficient supply chain focused towards wastage reduction. </p>
      <p class="m-main">Our goal at mandiGate.com is to create a virtual World where anyone can freely trade products and services related to grains, fruit and vegetables irrespective of geographic, cultural, regulatory, logistical boundaries. Giving appropriate value to farmers as well as fulfilling needs of buyers at suitable price.</p>

      <h3 class="western">MISSION</h3>
      <hr>
      <p class="m-main">Our mission is to offer best in class services for farmers and buyer with integrated supply chain at nominal service charges results in higher sale price for farmers’ produce which will uplift farmers’ social status at village level, further will leads to motivate to produce more farm commodities with enhanced quality. On the other hand, the buyer will incur lessor price which will restrict unprecedented commodity inflation, hoarding & Scarcity of Agri-Produce. </p>
      <p class="m-main">Our mission is inking partnerships with farmers, Buyers by leveraging technology that benefits all. We are dedicated to providing quality services and solutions that are positioned to address the innumerable agriculture marketing/Supply chain/Value chain challenges. We are keen to dedicate our business process expertise and technology understanding, industry knowledge to help make agriculture business stronger. We aim to emerge as the top market place & service provider in every segment we service-Grain, Fruit, Vegetable, via integrity, competency, execution and expertise. Our foundation is built on the commitment to Agriculture farmers, employees, licensee agents, Institutional buyer and the stakeholders of our enterprise.</p>
      <h3 class="western">VISION</h3>
      <hr>
      <p class="m-main">Our vision is to help in making India an Agriculture based Economy in the world by 2025 with developed country Tag. </p>
      <ul>
        <li class="m-main">We will help to arrest wastage of Agri produce in the country. </li>
        <li class="m-main">We will help to address Scarcity of Agri-Produce. </li>
        <li class="m-main">We will help to retard  unprecedented commodity inflation.</li>
      </ul>
      <h3 class="western">HOW WE WORK</h3>
      <hr>
      <p class="m-main">It is a commodity marketplace for agricultural produce where farmers/bulk sellers/licensee agents can list their products and buyers (industrialists, wholesale dealers, etc.) can review and place their bulk orders through online portal or mobile app. </p>
      <p class="m-main">The unique proposition of this model is direct ordering of the farm fresh items without multiple intermediaries charging their high margins. The buyers have option to order products from different locations from pan India. Also, farmers get vast market to sell their produce. <br>
        In this model, buyers can expect the quality products as we individually go and verify the commodity before transshipment.
        We have integrated supply chain for timely delivery and reduction of wastage in transportation of goods.
      </p>
      <h3 class="western">Our Presence</h3>
      <p class="m-main">We are currently operational in all major districts of northern India. Our main locations are -</p>
      <div class="row">
        <div class="col col-50   m-border">
          <h4>Uttar Pradesh</h4>
          <ul>
            <li>Agra</li>
            <li>Aligarh</li>
            <li>Bulandshahar</li>
            <li>Kanpur</li>
            <li>Lucknow</li>
            <li>Etawah</li>
            <li>Bareilly</li>
            <li>Moradabad</li>
            <li>Saharanpur</li>
            <li>Meerut</li>
            <li>Hapur</li>
            <li>Ghaziabad</li>
          </ul>
        </div>
        <div class="col col-50   m-border">
          <h4>Haryana</h4>
          <ul>
            <li>Jind</li>
            <li>Sirsa</li>
            <li>Rohtak</li>
            <li>Bhiwani</li>
            <li>Karnal</li>
            <li>Yamuna Nagar</li>
            <li>Panipat</li>
            <li>Sonipat</li>
            <li>Kaithal</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-50   m-border">
          <h4>Rajasthan</h4>
          <ul class="">
            <li>Alwar</li>
            <li>Jaipur</li>
            <li>Ganganagar</li>
            <li>Bikaner</li>
            <li>Jodhpur</li>
            <li>Ajmer</li>
            <li>Udaipur</li>
            <li>Kota</li>
            <li>Sikar</li>
            <li>Jhunjhunu</li>
          </ul>
        </div>


        <div class="col col-50   m-border">
          <h4>Madhya Pradesh</h4>
          <ul >
            <li>Gwalior</li>
            <li>Indore</li>
            <li>Ratlam</li>
            <li>Ujjain</li>
            <li>Morena</li>
            <li>Bhopal</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col col-50 m-border">
          <h4>Punjab</h4>
          <ul>
            <li>Amritsar</li>
            <li>Khanna</li>
            <li>Moga</li>
            <li>Patiala</li>
            <li>Sangrur</li>
            <li>Ludhiana</li>
            <li>Jalandhar</li>
            <li>Pathankot</li>
            <li>Bhatinda</li>
          </ul>
        </div>
        <div class="col col-50 m-border ">
          <h4>Himachal Pradesh</h4>
          <ul>
            <li>Mandi</li>
            <li>Palampur</li>
            <li>Kangra</li>
            <li>Kullu</li>
            <li>Shimla</li>
          </ul>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
