<ion-view>
  <ion-content>
    <div class="list">
      <a class="item" href="#/app/about1">About Us
        <div class="m-list"><i class="ion-chevron-right"></i></div>
      </a>
      <a class="item" href="#/app/terms">Terms & Conditions
        <div class="m-list"><i class="ion-chevron-right"></i></div>
      </a>
      <a class="item" href="#/app/privacy">Privacy Policy
        <div class="m-list"><i class="ion-chevron-right"></i></div>
      </a>
      <a class="item" href="#/app/cancel">Cancellation Policy
        <div class="m-list"><i class="ion-chevron-right"></i></div>
      </a>
      <a class="item" href="#/app/faq">FAQ
        <div class="m-list"><i class="ion-chevron-right"></i></div>
      </a>
    </div>
    </ion-content>
   </ion-view>
