<ion-view>
  <ion-content>
    <div class="row row-center m-back">

      <div class="col col-67 col-offset-33">
       <img src="img/user.jpg" class="m-user">
       <p class="m-text">Priya Sharma</p>
     </div>

    </div>
    <ul class="list">
      <a class="item" href="#/app/change"><i class="ion-locked"></i>&nbsp;&nbsp;Change Password
        <div class="m-list"><i class="ion-chevron-right"></i></div>
      </a>
      <a class="item" href="#/app/edit"><i class="ion-edit"></i>&nbsp;&nbsp;Edit Profile
        <div class="m-list"><i class="ion-chevron-right"></i></div>
      </a>
    </ul>
  </ion-content>
</ion-view>
