<ion-view view-title="Account Details">
  <ion-content class="ionic-content-bg">
    <div class="row row-center m-back">

      <div class="col col-67 col-offset-33">
       <!--<img src="img/default-user-image.png" class="m-user">-->
       <img ng-if="profile.profileData.is_buyer" src="img/buyer.png" class="m-user">
       <img ng-if="profile.profileData.is_seller" src="img/seller.png" class="m-user">
       <p class="m-text">{{profile.profileData.name}}</p>
     </div>

    </div>
    <ul class="list">
      <a class="item" href="#/app/change"><i class="ion-locked"></i>&nbsp;&nbsp;Change Password
        <div class="m-list"><i class="ion-chevron-right"></i></div>
      </a>
      <a class="item" href="#/app/edit"><i class="ion-edit"></i>&nbsp;&nbsp;Edit Profile
        <div class="m-list"><i class="ion-chevron-right"></i></div>
      </a>
    </ul>
  </ion-content>
</ion-view>
