<ion-view view-title="Add Stock">
  <ion-content>
    <form name="stock.myForm" ng-submit="stock.addStock()" novalidate>
      <div class="list">


        <label class="item item-input item-select">
          <div class="input-label">
            Product Category
          </div>
          <select name="category" ng-model="stock.stockData.category" ng-change="stock.getProduct(stock.stockData.category)" required>
            <option value="grains">Grains</option>
            <option value="vege">Vegetables</option>
            <option value="fruits">Fruits</option>
          </select>
          <div ng-if="stock.submitted" ng-messages="stock.myForm.category.$error" style="color: maroon;">
            <div ng-message="required">select category</div>
          </div>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Select Product
          </div>
          <select name="product" ng-model="stock.stockData.product" ng-change="stock.getGradeProduct(stock.stockData.product)" required>
            <option ng-repeat="p in stock.products" value="{{p}}">{{p.fields.product_name}}</option>
          </select>
          <div ng-if="stock.submitted" ng-messages="stock.myForm.product.$error" style="color: maroon;">
            <div ng-message="required">select product</div>
          </div>
        </label>


        <label ng-if="stock.gradeProduct.length>0" class="item item-input item-select">
          <div class="input-label">
            Grade Product
          </div>
          <select name="gradeP" ng-model="stock.stockData.gradeP" required>
            <option ng-repeat="g in stock.gradeProduct" value="{{g}}">{{g[1]}}</option>
          </select>
          <div ng-if="stock.submitted" ng-messages="stock.myForm.gradeP.$error" style="color: maroon;">
            <div ng-message="required">select grade product</div>
          </div>
        </label>

        <label ng-if="stock.gradeProductQuality.length>0" class="item item-input item-select">
          <div class="input-label">
            Grade Product Quality
          </div>
          <select name="gradePQ" ng-model="stock.stockData.gradePQ" required>
            <option ng-repeat="q in stock.gradeProductQuality" value="{{q}}">{{q[1]}}</option>
          </select>
          <div ng-if="stock.submitted" ng-messages="stock.myForm.gradePQ.$error" style="color: maroon;">
            <div ng-message="required">select grade product quality</div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Title</span>
          <input type="text" name="title" ng-model="stock.stockData.title" placeholder="Title" required>
          <div ng-if="stock.submitted" ng-messages="stock.myForm.title.$error" style="color: maroon;">
            <div ng-message="required">Title is required.</div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Quantity</span>
          <input type="number" name="quantity" ng-model="stock.stockData.quantity" number-converter="" placeholder="Quantity" min="100" max="1000000" required>
          <div ng-if="stock.submitted" ng-messages="stock.myForm.quantity.$error" style="color: maroon;">
            <div ng-message="required">Quantity is required.</div>
            <div ng-message="min">Quantity must be greater than 100</div>
            <div ng-message="max">Quantity must be less than 1000000</div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Available till date</span>
          <input type="date" name="available_date" ng-model="stock.stockData.available_date" placeholder="Available Date" min="{{today}}" required>
          <div ng-if="stock.submitted" ng-messages="stock.myForm.available_date.$error" style="color: maroon;">
            <div ng-message="required">Available date is required.</div>
            <div ng-message="min">Available date must be greater than today's date.</div>
          </div>
        </label>


        <label class="item item-input item-floating-label">
          <span class="input-label">Source PINCODE</span>
          <input type="number" name="pincode" ng-model="stock.stockData.pincode" number-converter="" placeholder="Source PINCODE" minlength="6" maxlength="6" required>
          <div ng-if="stock.submitted" ng-messages="stock.myForm.pincode.$error" style="color: maroon;">
            <div ng-message="required">Pincode is required.</div>
            <div ng-message="minlength">Invalid pin code</div>
            <div ng-message="maxlength">Invalid pin code</div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Price</span>
          <input type="number" name="price" ng-model="stock.stockData.price" number-converter="" placeholder="Price per kg" min="1" max="10000" required>
          <div ng-if="stock.submitted" ng-messages="stock.myForm.price.$error" style="color: maroon;">
            <div ng-message="required">Price is required.</div>
            <div ng-message="min">Price must be greater than 0</div>
            <div ng-message="max">Price must be less than 10000</div>
          </div>
        </label>


      </div>
      <div class="row">
        <button type="submit" class="button button-block button-balanced mandi-button" >Add Stock</button>
      </div>
    </form>
  </ion-content>
</ion-view>
