<ion-view view-title="Add Stock">
  <ion-content>
    <form name="stock.myForm" ng-submit="stock.addStock()" novalidate>
      <div class="list">


        <label class="item item-input item-floating-label">
          <span class="input-label">Product</span>
          <!--<ion-select [(ngModel)]="product">
            <ion-option value="f" selected="true">Female</ion-option>
            <ion-option value="m">Male</ion-option>
          </ion-select>-->

          <select ng-model="stock.stockData.product">
            <option value="">Select Product</option>
            <option value="1">dcbshgcd</option>
            <option value="2">csbchjs</option>
            <option value="3">cnbs hdbs chj</option>
          </select>
        </label>


        <label class="item item-input item-floating-label">
          <span class="input-label">Grade Product</span>
          <!--<ion-select [(ngModel)]="product">
            <ion-option value="f" selected="true">Female</ion-option>
            <ion-option value="m">Male</ion-option>
          </ion-select>-->

          <select ng-model="stock.stockData.product">
            <option value="">Select Grade Product</option>
            <option value="1">dcbshgcd</option>
            <option value="2">csbchjs</option>
            <option value="3">cnbs hdbs chj</option>
          </select>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Title</span>
          <input type="text" name="title" ng-model="stock.stockData.title" placeholder="Title" minlength="20" maxlength="100" required>
          <div ng-messages="stock.myForm.title.$error" style="color: maroon;">
            <div ng-message="required">Title is required.</div>
            <div ng-message="minlength">Min 20 characters long.</div>
            <div ng-message="maxlength">Max 100 characters long.</div>
          </div>
        </label>


        <label class="item item-input item-floating-label">
          <span class="input-label">Pincode</span>
          <input type="text" name="pincode" ng-model="stock.stockData.pincode" placeholder="Name" minlength="6" maxlength="6" required>
          <div ng-messages="stock.myForm.pincode.$error" style="color: maroon;">
            <div ng-message="required">Pincode is required.</div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Quantity</span>
          <input type="text" name="quantity" ng-model="stock.stockData.quantity" placeholder="Quantity" required>
          <div ng-messages="stock.myForm.quantity.$error" style="color: maroon;">
            <div ng-message="required">Quantity is required.</div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Available till date</span>
          <input type="text" name="available_date" ng-model="stock.stockData.available_date" placeholder="Available Date" required>
          <div ng-messages="stock.myForm.available_date.$error" style="color: maroon;">
            <div ng-message="required">Available date is required.</div>
          </div>
        </label>


        <label class="item item-input item-floating-label">
          <span class="input-label">Price</span>
          <input type="text" name="price" ng-model="stock.stockData.price" placeholder="Price per kg" required>
          <div ng-messages="stock.myForm.price.$error" style="color: maroon;">
            <div ng-message="required">Price is required.</div>
          </div>
        </label>





      </div>
      <div class="row">
        <button type="submit" class="button button-block button-balanced mandi-button" >Add Stock</button>
      </div>
    </form>
  </ion-content>
</ion-view>
