<ion-view>
  <ion-content>
    <div class="mandi">
    <p  class="western">CANCELLATION AND RETURN POLICY</p>
    <hr>
    <p  class="m-main">Mandigate.com shall reserve the exclusive right to cancel any content whatsoever from being published or reflected on its website or in any other mode. The cancellation charges payable to the User shall be at the applicable rates laid down in the cancellation and refund policy.</p>
    <p  class="m-main">For Platinum listing packages, there shall be no cancellation or refund of orders booked/payments made via online payment options (except in the case of Cheque &amp; Demand Draft). Cancellations requests for orders placed via cheque/demand draft can be made only before such payment is realized by the Company.</p>
    <p  class="m-main">Cancellations or returns can only be processed within 1 month of the payment/purchase.</p>
    <p  class="m-main"><br /><br /></p>
    </div>
  </ion-content>
</ion-view>
