<ion-view view-title="Products">
  <ion-content class="ionic-content-bg">

    <!--<div ng-show="c.products.length>0" class="list">-->
      <!--<a class="item item-thumbnail-left" ng-repeat="prod in c.products" href="#/app/pdp/{{prod.pk}}">-->
        <!--<img ng-src="{{c.baseUrl}}{{prod.image_url}}">-->
        <!--<h2 class="story-title">{{prod.post_title}}</h2>-->
        <!--<p> &#8377; <span>{{prod.price}}</span></p>-->
        <!--<p>Available till: {{prod.available_till | date:short}}</p>-->
      <!--</a>-->
    <!--</div>-->


    <div class="card" ng-repeat="prod in c.products" style="padding: 0 5px;" ng-if="prod.status!='closed' || prod.price>c.min&&prod.price<c.max">
      <div ui-sref="app.pdp({'id':{{prod.pk}}})">
        <div class="row">
          <div class="col-25">
            <img ng-src="{{c.baseUrl}}{{prod.image_url}}" width="95" height="95">
          </div>
          <div class="col-75 p-l-10">
            <h4 class="story-title">{{prod.post_title}}</h4>
            <p><span class="text-muted">price:</span>&nbsp;&nbsp;  &#8377; <span>{{prod.price}}</span></p>
            <p><span class="text-muted">Available till:</span>&nbsp;&nbsp; {{prod.available_till | date:short}}</p>
          </div>
        </div>
      </div>

    </div>

    <div ng-if="!c.loading" ng-show="c.products.length==0" class="row">
      No Product found
    </div>


    <ion-infinite-scroll on-infinite="c.loadProduct()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <!--fab button opening modal-->
  <div class="fixed-outside">
    <div class="row">
      <div class="col">
        <button ng-click="c.openModal()" class="button button-circle button-royal">
          <i class="fa fa-filter fa-2x" aria-hidden="true" style="padding-top: 8px"></i></button>
      </div>
    </div>
    </div>
</ion-view>
