<ion-view view-title="Products">
  <ion-content>

    <div class="list">
      <a class="item item-thumbnail-left" ng-repeat="prod in c.products" href="#/app/product/{{prod[0]}}">
        <img ng-src="img/apple.png">
        <h2 class="story-title">{{prod[1]}}</h2>
      </a>
    </div>
   <!--fab button -->
    <!--<div>-->
      <!--<button class="float-btn">-->
        <!--<i class="ion-plus "></i>-->
      <!--</button>-->
    <!--</div>-->


  </ion-content>
  <!--fab button opening modal-->
  <div class="fixed-outside">
    <div class="row">
      <div class="col">
        <a href="#/app/filters" class="button button-circle button-royal icon ion-plus"></a>
      </div>
    </div>

</ion-view>
