<ion-view view-title="Change Password">
  <ion-content class="ionic-content-bg">
    <form name="CP.myForm" ng-submit="CP.changePassword()" novalidate>

      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Enter old password</span>
          <input type="password" name="oldPass" ng-model="CP.passData.old_password" placeholder="Enter old password" required minlength="6">
          <div ng-if="CP.submitted" ng-messages="CP.myForm.oldPass.$error" style="color: maroon;">
            <div ng-message="required"> Old password is required.</div>
            <div ng-message="minlength">Minimum 6 char.</div>
          </div>
        </label>


        <label class="item item-input item-floating-label">
          <span class="input-label">Enter new password</span>
          <input type="password" name="newPass" ng-model="CP.passData.new_password" placeholder="Enter new password" required minlength="6">
          <div ng-if="CP.submitted" ng-messages="CP.myForm.newPass.$error" style="color: maroon;">
            <div ng-message="required"> New password is required.</div>
            <div ng-message="minlength">Minimum 6 char.</div>
          </div>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm Password</span>
          <input type="password" name="cPass" ng-model="CP.passData.confirm_password" placeholder="Confirm Password" required minlength="6">
          <div ng-if="CP.submitted" ng-messages="CP.myForm.cPass.$error" style="color: maroon;">
            <div ng-message="required"> Confirm password is required.</div>
            <div ng-message="minlength">Minimum 6 char.</div>
          </div>
        </label>

      </div>

      <div class="row">
        <button type="submit" class="button button-block button-balanced mandi-button">Save</button>
      </div>

    </form>
  </ion-content>
</ion-view>



new_password
confirm_password
