<ion-view view-title="Dashboard">
  <ion-content class="ionic-content-bg">
    <!--<div class="card ">-->
      <div class="row">
        <!--<img src="img/logo.png" height="auto" width="100%">-->
        <div class="col p-60">
          <p class="mandi-header text-center">MANDIGATE</p>

        </div>
      </div>




      <!--<div class="list">-->

        <!--<div class="item">-->
          <div class="row text-center">
            <div class="col col-50  border-right">
              <a href="#/app/addStock" class="anchor-tag p-20">
                <i class="ion-android-add-circle brand-color" style="font-size: 80px"></i>
                <p>Add Stock</p>
              </a>
            </div>

            <div class="col col-50  ">
              <a href="#/app/listSellerItems" class="anchor-tag p-20">
              <i class="ion-ios-list brand-color" style="font-size: 80px"></i>
                <p>Listed Items</p>
              </a>
            </div>


          </div>
        <!--</div>-->

        <!--<div class="item">
          <div class="row text-center">
            <a href="#/app/listSellerItems" class="">
              Listed Items</a>
          </div>
        </div>-->

        <!--<div class="item">-->
          <div class="row text-center">
            <div class="col col-50 border-top border-right">
              <a href="#/app/orderhistory" class="anchor-tag m-t-20 p-20">
                <i class="ion-ios-list brand-color" style="font-size: 80px"></i>
                <p>My Orders</p>
              </a>
            </div>

            <div class="col col-50 border-top">
              <a href="#/app/account" class="anchor-tag m-t-20 p-20">
                <i class="ion-person brand-color" style="font-size: 80px"></i>
                <p>Profiles</p>
              </a>
            </div>
          </div>
        <!--</div>-->

        <!--<div class="item">
          <div class="row text-center">
            <a href="#/app/account" class="">
              Profiles</a>
          </div>
        </div>-->


      <!--</div>-->
    <!--</div>-->

  </ion-content>
</ion-view>
