<ion-view view-title="Dashboard">
  <ion-content>
    <!--<div class="card ">-->
      <div class="row responsive-lg responsive-md responsive-sm text-center m-login row-center">
        <img src="img/logo.png" height="auto" width="100%">
        <p class="mandi-header">MANDIGATE</p>
      </div>

      <!--<div class="list">-->

        <!--<div class="item">-->
          <div class="row text-center">
            <div class="col col-50">
              <a href="#/app/addStock" class="">
                <i class="ion-android-add-circle" style="font-size: 80px"></i>
                <p>Add Stock</p>
              </a>
            </div>

            <div class="col col-50">
              <a href="#/app/listSellerItems" class="">
              <i class="ion-ios-list" style="font-size: 80px"></i>
                <p>Listed Items</p>
              </a>
            </div>


          </div>
        <!--</div>-->

        <!--<div class="item">
          <div class="row text-center">
            <a href="#/app/listSellerItems" class="">
              Listed Items</a>
          </div>
        </div>-->

        <!--<div class="item">-->
          <div class="row text-center">
            <div class="col col-50">
              <a href="#/app/orderhistory" class="">
                <i class="ion-ios-list" style="font-size: 80px"></i>
                <p>My Orders</p>
              </a>
            </div>

            <div class="col col-50">
              <a href="#/app/account" class="">
                <i class="ion-person" style="font-size: 80px"></i>
                <p>Profiles</p>
              </a>
            </div>
          </div>
        <!--</div>-->

        <!--<div class="item">
          <div class="row text-center">
            <a href="#/app/account" class="">
              Profiles</a>
          </div>
        </div>-->


      <!--</div>-->
    <!--</div>-->

  </ion-content>
</ion-view>
