<ion-view view-title="Dashboard">
  <ion-content>
    <div class="card ">
      <div class="row responsive-lg responsive-md responsive-sm text-center m-login row-center">
        <img src="img/logo.png" height="auto" width="100%">
        <p class="mandi-header">MANDIGATE</p>
      </div>

      <div class="list">

        <div class="item">
          <div class="row row-center">
            <a href="#/app/addStock" class="">
              Add Stock Posting</a>
          </div>
        </div>

        <div class="item">
          <div class="row text-center">
            <a href="#/app/listSellerItems" class="">
              Listed Items</a>
          </div>
        </div>

        <div class="item">
          <div class="row text-center">
            <a href="#/app/orderhistory" class="">
              My Orders</a>
          </div>
        </div>

        <div class="item">
          <div class="row text-center">
            <a href="#/app/account" class="">
              Profiles</a>
          </div>
        </div>


      </div>
    </div>

  </ion-content>
</ion-view>
