<ion-modal-view>
  <ion-content>
    <div class="row">
      <div class="col-50">
        <span style="float: left;">
          <button class="button button-small button-assertive icon-left ion-close"
                  ng-click="c.closeModal()">Close</button>
        </span>
        <span style="float: right;">Filter By</span>
      </div>
      <div class="col-50">

      </div>
    </div>
    <div class="row">
      <div class="col col-33">
       <ul class="list">
         <li class="item" ng-click="c.sortBy='price'">Price</li>
         <!--<li class="item" ng-click="c.sortBy='availability'">Availability</li>-->
         <li class="item" ng-click="c.sortBy='sort'">Sort By</li>
       </ul>
      </div>
      <div class="col col-66">
        <div ng-if="c.sortBy=='price'" id="price">
          <ion-list>
            <ion-radio ng-model="c.priceChoice" ng-value="'A'">Rs.10-20</ion-radio>
            <ion-radio ng-model="c.priceChoice" ng-value="'B'">Rs.20-40</ion-radio>
            <ion-radio ng-model="c.priceChoice" ng-value="'C'">Rs.40-above</ion-radio>
          </ion-list>
          </div>
        <!--<div ng-if="c.sortBy=='availability'" id="avail">
          <ion-list>
            <ion-checkbox>By Date</ion-checkbox>
            <ion-checkbox>By Location</ion-checkbox>
            <ion-checkbox>By Pincode</ion-checkbox>
          </ion-list>
        </div>-->
        <div ng-if="c.sortBy=='sort'" id="sort">
          <ion-list>
            <ion-radio ng-model="c.sorting" ng-value="'lowtohigh'">Price: Low to High</ion-radio>
            <ion-radio ng-model="c.sorting" ng-value="'hightolow'">Price: High to Low</ion-radio>

          </ion-list>
        </div>
      </div>

    </div>
    <div class="row">

    <div class="col col-bottom">
      <div class="row">
        <div class="col-50 text-left">
          <a class="button button-small button-balanced" ng-click="c.clearFilter()">Clear Filters</a>
        </div>
        <div class="col-50 text-right">
          <a class="button button-small button-balanced" ng-click="c.applyFilter()">Apply</a>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-modal-view>
