<ion-view view-title="Verify User">
  <ion-content class="ionic-content-bg">
    <div>

      <form name="FPV.fpForm" ng-submit="FPV.verifyOtp()">
        <div class="row card">
          <div class="list mandi-input">
            <label class="item item-input">
              <input type="number" ng-model="FPV.dd.otp_value" placeholder="Please Enter OTP" required>
            </label>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="button button-block button-positive mandi-button"> Submit</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
