<ion-view view-title="Forget Password">
  <ion-content>
    <div class="row ">
    <div class="list mandi-input">
      <label class="item item-input">
        <input type="text" placeholder="Please Enter Mobile No." required >
      </label>
      </div>
    </div>
    <div class="row">
    <a href=" " class="button button-block button-balanced mandi-button"> Submit</a>
    </div>
    <div class="row ">
      <div class="list mandi-input">
        <label class="item item-input">
          <input type="text" placeholder="Please Enter OTP" required >
        </label>
      </div>
    </div>
    <div class="row">
      <a href="#/app/reset" class="button button-block button-balanced mandi-button"> Submit</a>
    </div>
  </ion-content>
  </ion-view>
