<ion-modal-view>
  <ion-content class="ionic-content-bg">

    <div class="row text-center">

      <div class="col-50 text-left p-l-10">
        <p class="f-18 text-muted" style="margin: 10px 0;" ng-click="backQuantity()"><a href="" class="text-muted"><i class="fa fa-angle-left"></i>&nbsp;Back</a></p>
      </div>

      <div class="col-50 text-center">
        <h4>Quantity</h4>
      </div>
    </div>

    <div class="row">
      <div class="col col-100">
        <div class="list list-inset m-0">
          <label class="item item-input">
            <input type="number" ng-model="B.quantity" placeholder="0 kg" ng-focus="B.quantityError=false">
          </label>
          <p ng-if="B.quantityError" style="color: maroon">Quantity must be greater than or equal to 100 kg</p>
          <p ng-if="B.quantityError" style="color: maroon">Available Quantity: {{B.product.quantity}}</p>
        </div>
      </div>
     </div>

    <div class="row">
      <div class="col col-100">
        <button class="button button-block button-positive bg" ng-click="getQunatity()">
          Submit
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
