<ion-view view-title="Home">
  <ion-content class="ionic-content-bg">
    <div class="list list-inset m-search">
      <form name="searchForm" ng-submit="searchResult(query)">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon" ng-click="searchResult(query)"></i>
        <input type="text" ng-model="query" placeholder="Search">
        <!--<input ion-autocomplete type="text" name="product" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="query" item-view-value-key="product" item-value-key="product" items-method="callbackMethod(query)" max-selected-items="1" items-clicked-method="clickedMethod(callback)" placeholder="Search" required/>-->
      </label>
      </form>
    </div>
    <div class="row">
      <ion-slide-box does-continue="true" auto-play="true" slide-interval="3000" style="width: 100%">
        <ion-slide>
          <img src="img/banner1.jpg" class="product-img" alt="">
        </ion-slide>
        <ion-slide>
          <img src="img/banner2m.jpg" class="product-img" alt="">
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="row">
      <div class="col col-50">
        <a href="#/app/category/fruits">
        <img src="img/fruit.jpg" class="product-img"  alt="">
        </a>
      </div>
      <div class="col col-50">
        <a href="#/app/category/grains">
        <img src="img/grains.jpg" class="product-img" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <a href="#/app/category/vegetables">
      <img src="img/vegetables.jpg" class="product-img" alt="">
      </a>
    </div>
    <!--<div class="row">-->
      <!--<ion-list>-->
          <!--<ion-item ng-repeat="product in home.products" href="#/app/product/{{product[0]}}" class="padding">-->
            <!--{{product[0]}}-->
            <!--{{product[1]}}-->
          <!--</ion-item>-->
        <!--</ion-list>-->
    <!--</div>-->

  </ion-content>
</ion-view>
