<ion-view>
  <ion-content>
    <form ng-submit=""  novalidate>
      <div class="card">
        <div class="list">

          <label class="item item-input">
            <input type="email" ng-model="register.userData.email" placeholder="Email" required>
          </label>
          <label class="item item-input">
            <input type="password" ng-model="register.userData.password"  placeholder="Set a Password" required>
          </label>

        </div>
      </div>
      <div class="row">
        <button type="submit" class="button button-block button-positive">
          LOGIN
        </button>
      </div>
    </form>
    <div>
      <a>Forget Password?</a>
    </div>
  </ion-content>
</ion-view>
