<ion-view>
  <ion-content>
    <form name="login.loginForm" ng-submit="login.doLogin(userData)" novalidate>
      <div class="card">
        <div class="list">

          <label class="item item-input item-floating-label">
            <!--<span class="input-label">Mobile Number</span>-->
            <input type="number" name="mobile" ng-model="userData.username" placeholder="Mobile Number" required>

            <div ng-if="login.submited" ng-messages="login.loginForm.mobile.$error" style="color: maroon;">
              <div ng-message="required">Mobile number is required.</div>
            </div>

          </label>
          <label class="item item-input item-floating-label">
            <!--<span class="input-label">Password</span>-->
            <input type="password" name="password" ng-model="userData.password"  placeholder="Password" required>
            <div ng-if="login.submited" ng-messages="login.loginForm.password.$error" style="color: maroon;">
              <div ng-message="required">Password is required.</div>
            </div>
          </label>

        </div>
      </div>
      <div class="row">
        <button type="submit" class="button button-block button-positive">
          LOGIN
        </button>
      </div>
    </form>
    <div class="text-center">
      <a href="#/app/forget" >Forget Password?</a>
    </div>
  </ion-content>
</ion-view>
