<ion-view view-title="Login / Register">
  <ion-content>

<div class="card">
  <div class="row responsive-lg responsive-md responsive-sm text-center">
      <img src="img/logo.jpg" height="150px" width="100%">
      <p class="mandi-header">MANDIGATE</p>
  </div>
    <div class="list">
      <div class="row">
        <a href="#/app/signup" class="button button-block button-balanced mandi-button">
          SIGNUP AS SELLER</a>

      </div>
        <div class="row">
          <a href="#/app/buyer" class="button button-block button-balanced mandi-button">
            SIGNUP AS BUYER
          </a>
        </div>
      </div>
      <div class="">
        <div class="col-center">
        <p class="text-center mandi-text">OR</p>
          </div>
      </div>
      <div class="row">

          <a href="#/app/login1 " class="button button-block button-balanced mandi-button" >
            <i class="ion-locked"></i>&nbsp;LOGIN</a>
      </div>

    </div>
</div>


  </ion-content>
</ion-view>
