<ion-view view-title="Login / Register">
  <ion-content>
    <div class="login-bg">


<div class="card width-100">
  <div class="row responsive-lg responsive-md responsive-sm text-center m-login row-center">
      <img src="img/logo.png"  width="200">
      <p class="mandi-header">MANDIGATE</p>
  </div>
    <div class="list">
      <div class="row row-center">
        <a href="#/app/seller" class="button button-block button-balanced mandi-button">
          SignUp As Seller</a>
      </div>
        <div class="row row-center">
          <a href="#/app/buyer" class="button button-block button-balanced mandi-button">
            SignUp As Buyer
          </a>
        </div>
      </div>
      <div class="">
        <div class="col-center">
        <p class="text-center mandi-text">OR</p>
          </div>
      </div>

      <div class="row row-center">
          <a href="#/app/login1 " class="button button-block button-balanced mandi-button" >
            <i class="ion-locked"></i>&nbsp;LOGIN</a>
      </div>
    </div>
    </div>

  </ion-content>
</ion-view>
