<ion-view title="Try App" class="" hide-nav-bar="true">
  <ion-slides options="{autoplay:1000}">
  <ion-slide-page>
    <ion-header-bar class="bar bar-assertive" style="cursor: pointer" ng-click="m.getStarted()">
      <h1 class="title"><span style="color: #0c60ee">GET &nbsp;&nbsp;&nbsp;<b>STARTED</b></span></h1>
    </ion-header-bar>
    <ion-content>
      <div class="padding">
        <p>
          cnsjcbjs cscjs hc su chjs gchj sghc sjd c sdc hjsd cjhsd jc sd c hsd   vjsdgv h vs gvhsd vsdjh vhjdvgdh v dhjv hd gvhjdv.
        </p>
      </div>
    </ion-content>
  </ion-slide-page>
    <ion-slide-page>
      <ion-header-bar class="bar bar-assertive" style="cursor: pointer" ng-click="m.getStarted()">
        <h1 class="title"><span style="color: #0c60ee">GET &nbsp;&nbsp;&nbsp;<b>STARTED</b></span></h1>
      </ion-header-bar>
      <ion-content>
        <div class="padding">
          <p>
            cnsjcbjs cscjs hc su chjs gchj sghc sjd c sdc hjsd cjhsd jc sd c hsd   vjsdgv h vs gvhsd vsdjh vhjdvgdh v dhjv hd gvhjdv.
          </p>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-header-bar class="bar bar-assertive" style="cursor: pointer" ng-click="m.getStarted()">
        <h1 class="title"><span style="color: #0c60ee">GET &nbsp;&nbsp;&nbsp;<b>STARTED</b></span></h1>
      </ion-header-bar>
      <ion-content>
        <div class="padding">
          <p>
            cnsjcbjs cscjs hc su chjs gchj sghc sjd c sdc hjsd cjhsd jc sd c hsd   vjsdgv h vs gvhsd vsdjh vhjdvgdh v dhjv hd gvhjdv.
          </p>
        </div>
      </ion-content>
    </ion-slide-page>
    <ion-slide-page>
      <ion-header-bar class="bar bar-assertive" style="cursor: pointer" ng-click="m.getStarted()">
        <h1 class="title"><span style="color: #0c60ee">GET &nbsp;&nbsp;&nbsp;<b>STARTED</b></span></h1>
      </ion-header-bar>
      <ion-content>
        <div class="padding">
          <p>
            cnsjcbjs cscjs hc su chjs gchj sghc sjd c sdc hjsd cjhsd jc sd c hsd   vjsdgv h vs gvhsd vsdjh vhjdvgdh v dhjv hd gvhjdv.
          </p>
        </div>
      </ion-content>
    </ion-slide-page>
</ion-slides>
</ion-view>
