<style>
  .title{
    text-align: center!important;
  }
</style>


<ion-view title="Try App" class="" hide-nav-bar="true">
  <ion-slides options="{autoplay:2000}">


    <ion-slide-page>
      <ion-content class="text-center">
        <img src="img/slide2.png" alt="" width="100%">
      </ion-content>
    </ion-slide-page>


    <ion-slide-page>
      <ion-content class="text-center">
        <img src="img/slide1.png" alt="" width="100%">
      </ion-content>
    </ion-slide-page>


    <ion-slide-page>
      <ion-content class="text-center">
        <img src="img/slide3.png" alt="" width="100%">
      </ion-content>
    </ion-slide-page>


  </ion-slides>


  <ion-footer-bar class="bar bar-assertive bg" style="cursor: pointer" ng-click="m.getStarted()">
    <h1 class="title title-center">Get Started</h1>
  </ion-footer-bar>



</ion-view>
