<ion-view title="Notification">
  <ion-content>
    <div ng-repeat="notif in N.notification" class="card">
      <!--<div class="item item-divider">
        Discount upto 15%
      </div>-->
      <div class="item item-text-wrap notif-text" ui-sref="app.orderhistory" ng-class="{'read_notif':notif.notif_read}">
        <p>{{notif.fields.notif_text}}</p>
      </div>
    </div>

    <div ng-if="!N.loading && N.notification.length==0" class="card">
      <div class="item item-text-wrap">
        <p class="f-20 text-center">No Notification!</p>
      </div>
    </div>


  </ion-content>
</ion-view>
