<ion-view title="Notification">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Special Offer you...!
      </div>
      <div class="item item-text-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi corporis ea eos esse facere hic ipsa laborum recusandae repellat reprehenderit saepe, totam voluptates. Consequuntur corporis delectus harum, labore molestiae repudiandae.</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Discount upto 15%
      </div>
      <div class="item item-text-wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi corporis ea eos esse facere hic ipsa laborum recusandae repellat reprehenderit saepe, totam voluptates. Consequuntur corporis delectus harum, labore molestiae repudiandae.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
