<ion-view title="Order Summary">
  <ion-content>
    <div class="card">
   <div class="row">
     <div class="col col-50">
       <p>Ordered On:</p>
       <p>Order Id:</p>
       <p>Status:</p>
     </div>
     <div class="col col-50">
       <p>24 Jul,2016</p>
       <p>3211116789</p>
       <p>Delivered</p>
     </div>
   </div>
    </div>
    <div class=" list card ">
      <div class="item">
      <img src="img/lime.png" width="100%" height="auto"></div>

    <div class="item item-body">
      <div class="row">
      <div class="col col-50">
        <p>Delivered On:</p>
        <p>Quantity:</p>
        <p>Unit Price:</p>
        <p>Grand Total</p>
      </div>
      <div class="col col-50">
        <p>29 Jul,2016</p>
        <p>200 Kg</p>
        <p>34/Kg</p>
        <p>&#8377; 700000</p>
      </div>
      </div>
    </div></div>
    <div class="card">
      <div class="item item-divider">
        Delivery Address
      </div>
      <div class="item item-text-wrap">
        <p>214 M.G road, Block 34<br>
          Noida, UP<br>
          201301
        </p>
      </div>
      </div>


  </ion-content>
</ion-view>
