<ion-view title="Order Summary">
  <ion-content class="ionic-content-bg">
    <div class="card">
      <div class="row">
        <div class="col col-50">
          <p class="text-muted">Order Id:</p>
          <p class="text-muted">Ordered On:</p>
          <p class="text-muted">Status:</p>
          <p class="text-muted">Grand Total:</p>
        </div>

        <div class="col col-50">
          <p>{{OD.ordersDetail.order_data.order_uid}}</p>
          <p>{{OD.ordersDetail.order_data.order_date|date:medium}}</p>
          <p><label>{{OD.ordersDetail.order_data.order_status.replace('_',' ') | capitalizeFirst}}</label></p>
          <p>{{(((OD.ordersDetail.stock_data.price*OD.ordersDetail.order_data.quantity)*(1.2/100))+((OD.ordersDetail.stock_data.price*OD.ordersDetail.order_data.quantity)*(1.2/100))+(((OD.ordersDetail.stock_data.price*OD.ordersDetail.order_data.quantity)*(1.2/100))*(14.5/100))+(OD.ordersDetail.stock_data.price*OD.ordersDetail.order_data.quantity)).toFixed(2)}}</p>
        </div>
      </div>

      <div ng-if="profile.is_seller && OD.ordersDetail.order_data.order_status=='awaiting_confirmation'" class="row">
        <div class="col">
          <button class="button button-block button-balanced" ng-click="OD.confirmOrder(OD.ordersDetail.order_data.pk)">Confirm Order</button>
        </div>
      </div>

    </div>

    <div class=" list card ">
      <div class="item">
        <img ng-src="{{OD.baseUrl}}{{OD.ordersDetail.stock_data.image_url}}" width="100%" height="auto"></div>

      <div class="item item-body">

        <div class="row">
          <h2>Product Details</h2>
        </div>

        <div class="row">
          <div class="col col-50">
            <p>Name:</p>
            <p>Grade:</p>
            <p>Quantity:</p>
            <p>Unit Price:</p>
            <p>Delivered On:</p>
          </div>

          <div class="col col-50">
            <p class="w-800">{{OD.ordersDetail.stock_data.post_title}}</p>
            <p class="w-800">{{OD.ordersDetail.stock_data.get_product_quality.quality_name}}</p>
            <p class="w-800">{{OD.ordersDetail.order_data.quantity}} kg</p>
            <p class="w-800">{{OD.ordersDetail.stock_data.price}}/kg</p>
            <p class="w-800">NA</p>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="profile.is_buyer" class="row">
      <button class="button button-block button-balanced mybar" ng-click="OD.redirectHome()">Go back to home</button>
    </div>

  </ion-content>
</ion-view>
