<ion-view title="Order History">
  <ion-content>
    <div class="list">
      <div class="item item-thumbnail-left">
        <img src="img/potato.png">
        <h3>Potato</h3>
        <p>Status : In Progress</p>
        <p>Payment : Rs. 56800</p>
        <p>Delivery : 15 Jun,2015</p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/onion.png">
        <h3>Onion</h3>
        <p>Status : In Progress</p>
        <p>Payment : Rs. 56800</p>
        <p>Delivery : 15 Jun,2015</p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/tomato.png">
        <h3>Tomato</h3>
        <p>Status : In Progress</p>
        <p>Payment : Rs. 56800</p>
        <p>Delivery : 22 Sep,2016</p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/lime.png">
        <h3>Mossambi</h3>
        <p>Status : In Progress</p>
        <p>Payment : Rs. 89800</p>
        <p>Delivery : 15 Jun,2015</p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/rice.jpg">
        <h3>Rice</h3>
        <p>Status : In Progress</p>
        <p>Payment : Rs. 99800</p>
        <p>Delivery : 15 Jun,2015</p>
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/apple.png">
        <h3>Apple</h3>
        <p>Status : In Progress</p>
        <p>Payment : Rs. 70800</p>
        <p>Delivery : 15 Jun,2015</p>
      </div>
    </div>
  </ion-content>
</ion-view>
