<ion-view title="Order History">
  <ion-content>


    <!--<div class="button-bar">
      <button class="button icon-left ion-funnel button-positive button-block button-outline" ng-click="sorting('order_date')">Date</button>
      <button class="button icon-left ion-funnel button-positive button-block button-outline" ng-click="sorting('proposed_price')">Price</button>
    </div>-->

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Status
        </div>
        <select ng-model="o.selected_status">
          <option value="awaiting_confirmation">Awaiting Confirmation</option>
          <option value="placed_orders">Place Orders</option>
          <option value="delivered">Delivered</option>
          <option value="cancelled">Cancelled</option>
          <option value="completed">Completed</option>
          <option value="processing">Processing</option>
          <option value="adv_pay_rec">Adv Pay Rec</option>
          <option value="under_review">Under Review</option>
        </select>
      </label>
    </div>

    <div ng-if="o.selected_status=='placed_orders'" class="list">
      <a ng-repeat="order in o.ordersDetail.placed_orders | orderBy : '-order_date' " href="#/app/orderDetail/{{order.pk}}" class="item">
        <!--<img src="img/potato.png">-->
        <h3>Order No: {{order.order_uid}}</h3>
        <p>Status : {{order.order_status.replace('_',' ') | capitalizeFirst}}</p>
        <p>Payment : Rs. {{order.proposed_price*order.quantity}}</p>
        <p>Order Date : {{order.order_date|date:short}}</p>
      </a>
      <div ng-if="o.ordersDetail.placed_orders.length==0" class="row">
        <p>No Records Found!</p>
      </div>
    </div>


    <div ng-if="o.selected_status=='awaiting_confirmation'" class="list">
      <a ng-repeat="order in o.ordersDetail.awaiting_confirmation | orderBy : '-order_date' " href="#/app/orderDetail/{{order.pk}}" class="item">
        <!--<img src="img/potato.png">-->
        <h3>Order No: {{order.order_uid}}</h3>
        <p>Status : {{order.order_status.replace('_',' ') | capitalizeFirst}}</p>
        <p>Payment : Rs. {{order.proposed_price*order.quantity}}</p>
        <p>Order Date : {{order.order_date|date:short}}</p>
      </a>
      <div ng-if="o.ordersDetail.awaiting_confirmation.length==0" class="row">
        <p>No Records Found!</p>
      </div>
    </div>


    <div ng-if="o.selected_status=='delivered'" class="list">
      <a ng-repeat="order in o.ordersDetail.delivered | orderBy : '-order_date' " href="#/app/orderDetail/{{order.pk}}" class="item">
        <!--<img src="img/potato.png">-->
        <h3>Order No: {{order.order_uid}}</h3>
        <p>Status : {{order.order_status.replace('_',' ') | capitalizeFirst}}</p>
        <p>Payment : Rs. {{order.proposed_price*order.quantity}}</p>
        <p>Order Date : {{order.order_date|date:short}}</p>
      </a>
      <div ng-if="o.ordersDetail.delivered.length==0" class="row">
        <p>No Records Found!</p>
      </div>
    </div>

    <div ng-if="o.selected_status=='cancelled'" class="list">
      <a ng-repeat="order in o.ordersDetail.cancelled | orderBy : '-order_date' " href="#/app/orderDetail/{{order.pk}}" class="item">
        <!--<img src="img/potato.png">-->
        <h3>Order No: {{order.order_uid}}</h3>
        <p>Status : {{order.order_status.replace('_',' ') | capitalizeFirst}}</p>
        <p>Payment : Rs. {{order.proposed_price*order.quantity}}</p>
        <p>Order Date : {{order.order_date|date:short}}</p>
      </a>
      <div ng-if="o.ordersDetail.cancelled.length==0" class="row">
        <p>No Records Found!</p>
      </div>
    </div>


    <div ng-if="o.selected_status=='completed'" class="list">
      <a ng-repeat="order in o.ordersDetail.completed | orderBy : '-order_date' " href="#/app/orderDetail/{{order.pk}}" class="item">
        <!--<img src="img/potato.png">-->
        <h3>Order No: {{order.order_uid}}</h3>
        <p>Status : {{order.order_status.replace('_',' ') | capitalizeFirst}}</p>
        <p>Payment : Rs. {{order.proposed_price*order.quantity}}</p>
        <p>Order Date : {{order.order_date|date:short}}</p>
      </a>
      <div ng-if="o.ordersDetail.completed.length==0" class="row">
        <p>No Records Found!</p>
      </div>
    </div>


    <div ng-if="o.selected_status=='processing'" class="list">
      <a ng-repeat="order in o.ordersDetail.processing | orderBy : '-order_date' " href="#/app/orderDetail/{{order.pk}}" class="item">
        <!--<img src="img/potato.png">-->
        <h3>Order No: {{order.order_uid}}</h3>
        <p>Status : {{order.order_status | capitalizeFirst}}</p>
        <p>Payment : Rs. {{order.proposed_price*order.quantity}}</p>
        <p>Order Date : {{order.order_date|date:short}}</p>
      </a>
      <div ng-if="o.ordersDetail.processing.length==0" class="row">
        <p>No Records Found!</p>
      </div>
    </div>


    <div ng-if="o.selected_status=='adv_pay_rec'" class="list">
      <a ng-repeat="order in o.ordersDetail.adv_pay_rec | orderBy : '-order_date' " href="#/app/orderDetail/{{order.pk}}" class="item">
        <!--<img src="img/potato.png">-->
        <h3>Order No: {{order.order_uid}}</h3>
        <p>Status : {{order.order_status.replace('_',' ') | capitalizeFirst}}</p>
        <p>Payment : Rs. {{order.proposed_price*order.quantity}}</p>
        <p>Order Date : {{order.order_date|date:short}}</p>
      </a>
      <div ng-if="o.ordersDetail.adv_pay_rec.length==0" class="row">
        <p>No Records Found!</p>
      </div>
    </div>


    <div ng-if="o.selected_status=='under_review'" class="list">
      <a ng-repeat="order in o.ordersDetail.under_review | orderBy : '-order_date' " href="#/app/orderDetail/{{order.pk}}" class="item">
        <!--<img src="img/potato.png">-->
        <h3>Order No: {{order.order_uid}}</h3>
        <p>Status : {{order.order_status.replace('_',' ') | capitalizeFirst}}</p>
        <p>Payment : Rs. {{order.proposed_price*order.quantity}}</p>
        <p>Order Date : {{order.order_date|date:short}}</p>
      </a>
      <div ng-if="o.ordersDetail.under_review.length==0" class="row">
        <p>No Records Found!</p>
      </div>
    </div>



  </ion-content>
</ion-view>
