<ion-view>
  <ion-content>
    <div ng-if="B.verified" class="card">
      <div class="item item-divider">
        Order Summary
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class=" col col-50">
            <!--<p>Order Total :</p>-->
            <p>Quantity:</p>
            <p>Delivery By:</p>
            <p>Total Payable</p>
          </div>
          <div class="col col-50">
            <!--<p>Rs. 56000</p>-->
            <p><input type="number" ng-model="B.quantity" id="quantity" name="quantity" placeholder="enter quantity" /></p>
            <p>24 Jul 2016</p>
            <p>&#8377; {{B.product.price*B.quantity}}</p>
          </div>
        </div>
      </div>

    </div>
    <div ng-if="B.verified" class="card">
      <div class="item item-divider">
      Delivery Address
    </div>
      <div class="row">
        <div class="col col-90">
        <p>{{B.profile.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-90">
          <p>{{B.address.address}}<br>
            Pincode : {{B.address.pincode}}</p>
        </div>
        <div class="col col-10" ng-click="showpincodemodal()"><i class="ion-edit"></i></div>
        <hr>
      </div>
      <div class="row">
        <div class="col col-90">
          <p>Mobile : {{B.profile.phone_number}}</p>
        </div>
      </div>
    </div>
    <div ng-if="B.verified" class="card">
      <div class="item item-divider">
        Order Details
      </div>
      <div class="item item-text-wrap">
        <div class="item item-thumbnail-left">
          <img ng-src="{{B.baseUrl}}{{B.product.image_url}}">
          <h3>{{B.product.post_title}}</h3>
          <p>Cash On Delivery</p>
          <p>Payment : &#8377; {{B.product.price*B.quantity}}</p>
          <!--<p>Estimated Delivery : 15 Jun,2015</p>-->
        </div>
      </div>
    </div>
    <div ng-if="!B.verified && !B.loading" class="card">
      <div class="item item-divider">
        Verification Failed
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <p>Your Account Details Not Verified yet!</p>
        </div>
      </div>

    </div>

    <div ng-if="B.verified" class="row">
      <button ng-click="B.placeOrder(B.quantity)" class="button button-block button-positive mandi-button">
        Place Order
      </button>
    </div>
  </ion-content>
</ion-view>
