<ion-view view-title="Order Review">
  <ion-content class="ionic-content-bg">


    <div ng-if="B.verified" class="card">
      <div class="item item-divider">
        Order Details
      </div>
      <div class="item item-text-wrap">
        <div class="item item-thumbnail-left">
          <img ng-src="{{B.baseUrl}}{{B.product.image_url}}">
          <h3>{{B.product.post_title}}</h3>
          <p class="w-800">{{B.product.grade_product}}</p>
          <p class="w-800">{{B.product.get_product_quality.quality_name}}</p>
          <p>Price : &#8377; {{B.product.price}}/kg</p>
        </div>
      </div>
    </div>


    <div ng-if="B.verified" class="card">
      <div class="item item-divider">
        Order Summary
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class=" col col-50">
            <!--<p>Order Total :</p>-->
            <p class="m-b-10">Quantity:</p>
            <!--<p class="m-b-10">Delivery By:</p>-->
            <p class="m-b-10">Sub Total</p>
            <p class="m-b-10">APMC Tax</p>
            <p class="m-b-10">Commission</p>
            <p class="m-b-10">Service Tax</p>
            <p class="m-b-10">Grand Total</p>
          </div>
          <div class="col col-50">
            <!--<p>Rs. 56000</p>-->
            <p class="m-b-10"><input type="number" number-converter="" ng-model="B.quantity" id="quantity" name="quantity" placeholder="Enter quantity" /></p>
            <!--<p>24 Jul 2016</p>-->
            <p class="m-b-10">&#8377; {{B.product.price*B.quantity}}</p>
            <p class="m-b-10">&#8377; {{((B.product.price*B.quantity)*(1.2/100)).toFixed(2)}}</p>
            <p class="m-b-10">&#8377; {{((B.product.price*B.quantity)*(1.2/100)).toFixed(2)}}</p>
            <p class="m-b-10">&#8377; {{(((B.product.price*B.quantity)*(1.2/100))*(14.5/100)).toFixed(2)}}</p>
            <p class="m-b-10">&#8377; {{((B.product.price*B.quantity)*(1.2/100))+((B.product.price*B.quantity)*(1.2/100))+(((B.product.price*B.quantity)*(1.2/100))*(14.5/100))+(B.product.price*B.quantity)}}</p>
          </div>
        </div>
      </div>


    </div>
    <div ng-if="B.verified" class="card">
      <div class="item item-divider">
      Delivery Address
    </div>
      <div class="row">
        <div class="col col-90">
        <p>{{B.profile.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-90">
          <p>{{B.address.address}}<br>
            Pincode : {{B.address.pincode}}</p>
        </div>
        <div class="col col-10" ng-click="redirectPincode()"><i class="ion-edit"></i></div>
        <hr>
      </div>
      <div class="row">
        <div class="col col-90">
          <p>Mobile : {{B.profile.phone_number}}</p>
        </div>
      </div>
    </div>

    <div ng-if="!B.verified && !B.loading" class="card">
      <div class="item item-divider">
        Verification Failed
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <p>Your Account Details Not Verified yet!</p>
        </div>
      </div>
    </div>

    <div ng-if="B.verified" class="row">
      <button ng-click="B.placeOrder(B.quantity)" class="button button-block button-positive mandi-button">
        Place Order
      </button>
    </div>
  </ion-content>
</ion-view>
