<ion-modal-view>
  <ion-content>

    <!--<div class="row">
      <div class="col col-50">

      </div>
      <div class="col col-50">
        <button class="button button-block button-outline button-assertive">Skip Verification</button>
      </div>
    </div>-->

    <div class="card">
      <div class="item item-text-wrap">
        We have send you Verification code to your entered Mobile No.
      </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Please Enter the OTP" ng-model="otp.num">
      </label>
    </div>



    <div class="text-center">
      <a class="" disabled="sendingOtp" ng-click="resendOtpButton()">Resend Otp</a>
    </div>

    <div class="row">
      <button class="button button-block button-positive mandi-button" ng-click="verifiedOtp(otp.num)">Verify</button>
    </div>
  </ion-content>
  </ion-modal-view>
