<ion-view>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        We have send you Verification code to your entered Mobile No.
      </div>

    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Please Enter the OTP">
      </label>
    </div>
    <div class="row">
      <a href="#/app/home" class="button button-block button-positive mandi-button">LOGIN</a>
    </div>
  </ion-content>
</ion-view>
