<ion-modal-view>
  <ion-content>

    <!--<div class="row">
      <div class="col col-50">

      </div>
      <div class="col col-50">
        <button class="button button-block button-outline button-assertive">Skip Verification</button>
      </div>
    </div>-->

    <div class="card">
      <div class="item item-text-wrap">
        We have send you Verification code to your entered Mobile No.
      </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Please Enter the OTP" ng-model="otp.num">
      </label>
    </div>

    <div class="row">
      <button class="button button-block button-positive mandi-button" ng-click="verifiedOtp(otp.num)">Verify</button>
    </div>

    <div class="text-center">
      <p ng-if="!sendingOtp" class="text-center f-16">OTP Not Received ?</p>
      <p ng-if="sendingOtp" class="text-center f-16">New OTP Sent </p>
    </div>

    <div class="row">


      <div class="col col-center m-l-20 m-r-20">
        <button class=" button button-positive mandi-button col-center m-grey-btn f-18" ng-disabled="sendingOtp" ng-click="resendOtpButton()">Resend OTP</button>
      </div>


    </div>

    <div class="row">
    <div class="col col-80 col-center">
      <p ng-if="i" class="text-center">{{i }} &nbsp;  second(s)</p>
    </div>
    </div>




  </ion-content>
  </ion-modal-view>
