<ion-view view-title="Product Description">
  <ion-content>
    <div class="list card">
     <div>
       <div class="item item-image">
         <div class="">
         <img src="img/apple.png" height="390px" width="100%" class="pdp-img">
         </div>
       </div>
         <div class="item item-body">
         <div class="row">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dolor sit
             totam? Accusantium architecto assumenda culpa debitis ducimus eos eveniet excepturi exercitationem
             expedita harum, minus nihil nisi placeat similique tenetur?</p>
         </div>
         <div class="row">
           <div class=" col col-50">
             <p>Price :</p>
             <p>Quantity:</p>
             <p>Pincode:</p>
             <p>Availability By:</p>
             <p>Delivery:</p>
           </div>
           <div class="col col-50">
             <p>Rs. 56000</p>
             <p>300 Kg<p>
             <p>201301</p>
             <p>3 July,2016</p>
             <p>15 July,2016</p>


           </div>
         </div>
         </div>
       <div class="row">
         <a href="#" class="button button-block button-balanced mandi-button">
           BUY
         </a>
       </div>

     </div>
    </div>
    </ion-content>
  </ion-view>
