<ion-view view-title="Product Description">
  <ion-content class="ionic-content-bg">
    <div class="list card">
      <div>
        <div class="item item-image">
          <div class="">
            <img ng-src="{{p.baseUrl}}{{p.product.image_url}}" class="pdp-img">
          </div>
        </div>
        <div class="item item-body p-10">
          <div class="row p-t-10 p-b-30">
            <div class="col text-center">
              <div class="f-24 w-500">{{p.product.post_title}}</div>

            </div>
          </div>

          <div class="row">
            <div class="col-33">
	            <p class="text-muted f-12">Product :</p>
              </div>

            <div class="col-67">
              <p class="w-800 text-right">{{p.product.product}}</p>

            </div>
            </div>


          <div class="row">
            <div class="col-33">
              <p class="text-muted f-12">Product Grade :</p>

            </div>

            <div class="col-67">
              <p class="w-800 text-right">{{p.product.grade_product}}</p>

            </div>

          </div>



          <div class="row">
            <div class="col-33">
              <p class="text-muted f-12">Product Quality :</p>

            </div>

            <div class="col-67">
              <p class="w-800 text-right">{{p.product.get_product_quality.quality_name}}</p>

            </div>

          </div>



          <div class="row">
            <div class="col-33">
              <p class="text-muted f-12">Price :</p>

            </div>


            <div class="col-67">
              <p class="w-800 text-right">{{p.product.price | currency:"&#8377;"}}</p>

            </div>



          </div>


          <div class="row">
            <div class="col-33">
              <p class="text-muted f-12">Quantity :</p>

            </div>

            <div class="col-67">
              <p class="w-800 text-right">{{p.product.quantity | number:2}} Kg</p>

            </div>

          </div>


          <div class="row">
            <div class="col-33">
              <p class="text-muted f-12">Location :</p>

            </div>


            <div class="col-67">
              <p class="w-800 text-right">{{p.product.location}}</p>

            </div>

          </div>



          <div class="row">
            <div class="col-33">
              <p class="text-muted f-12">Availabile Till :</p>

            </div>

            <div class="col-67">
              <p class="w-800 text-right">{{p.product.available_till|date:short}}</p>

            </div>

          </div>

              <!--<p>Delivery:</p>-->
            </div>

            <!--<div class="col col-50">-->
              <!--&lt;!&ndash;<p>{{p.product.available_till|date:short}}</p>&ndash;&gt;-->
            <!--</div>-->
          </div>
        </div>
        <div ng-if="profile.is_buyer" class="row">
          <a href="#/app/getQuantity/{{p.product.pk}}" class="button button-block button-positive mandi-button">
            BUY
          </a>
        </div>
        <div ng-if="profile.is_seller" class="row">

          <div class="button-bar">
            <a class="button button-block button-positive mybar" ng-href="#/app/editStock/{{p.product.pk}}">Edit Stock</a>
            <button class="button button-assertive button-block" ng-click="p.deleteStock(p.product.pk)">Delete Stock</button>
          </div>
          <!--button-outline-->
          <!--<button class="button button-block button-assertive" ng-click="p.deleteStock(p.product.pk)">
            Delete Stock
          </button>-->

        </div>

  </ion-content>
</ion-view>
