<ion-view view-title="Buyer Registration">
  <ion-content>



    <form ng-submit="register.doBuyerRegistration" name="buyer" novalidate>
      <div class="card">
        <div class="list">
          <label class="item item-input">
            <input type="text" ng-model="register.userData.first_name" placeholder="First Name" required>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="register.userData.last_name" placeholder="Last Name" required>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="register.userData.mobile" placeholder="Mobile" required>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="register.userData.email" placeholder="Email" required>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="register.userData.password" placeholder="Set a Password" required>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="register.userData.pincode" placeholder="Pincode" required>
          </label>
          <label class="item item-input">
            <textarea ng-model="register.userData.address" placeholder="Address" required></textarea>
          </label>
        </div>
        </div>
  <div class="row">
    <a href="#/app/otp" class="button button-block button-positive mandi-button">
      REGISTER
    </a>
  </div>
    </form>

  </ion-content>
</ion-view>
