<ion-view view-title="Reset Password">
  <ion-content class="ionic-content-bg">







    <div class=" card text-center">
      <p>Please enter your new password here...!</p>
    </div>

<form name="PR.myForm" ng-submit="PR.resetPassword()">
    <div class="row ">

      <div class="list mandi-input">

        <label class="item item-input">
          <input type="password" name="password" ng-model="PR.dd.new_password" placeholder="New Password" required >
          <div ng-if="PR.submited" ng-messages="PR.myForm.password.$error" style="color: maroon;">
            <div ng-message="required">New password is required.</div>
          </div>
        </label>

        <label class="item item-input">
          <input type="password" name="cpassword" ng-model="PR.dd.confirm_password" placeholder="Confirm new password" required >
          <div ng-if="PR.submited" ng-messages="PR.myForm.cpassword.$error" style="color: maroon;">
            <div ng-message="required">Confirm password is required.</div>
          </div>
        </label>

      </div>
    </div>
    <div class="row">
      <button type="submit" class="button button-block button-positive mandi-button"> Reset</button>
    </div>

</form>


    </ion-content>
  </ion-view>
