<ion-view view-title="Seller Registration">
  <ion-content>
    <div class="card">
      <div class="row responsive-lg responsive-md responsive-sm text-center">
        <img src="img/logo.png" height="auto" width="100%">
        <p class="mandi-header">MANDIGATE</p>
      </div>
      <div class="list">
        <div class="row">
          <a href="#/app/seller" class="button button-block button-balanced mandi-button">
            SignUp As Individual</a>

        </div>
        <div class="row">
          <a href="#/app/seller" class="button button-block button-balanced mandi-button">
            SignUp As Organisation
          </a>
        </div>
      </div>

    </div>
    </ion-content>
  </ion-view>
